#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: absolute;
  top: 1px;
  left: -1px;
  width: 100vw;
  height: 55px;
  background-color: rgb(144, 202, 206);
  /* display: inline-flex; */
  flex-direction: row;
}
.nav {
  color: rgb(95, 128, 196);
  justify-content: space-around;
  padding: 10px 20px ;
  position: relative;
  top: 30%;
    &&:hover {
      background-color: rgb(122, 178, 179);
    }
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 48%;
}

button {
  /* max-width: 10px; */
  height: 25px;
}
.checkInput {
  width: 15px;
  height: 15px;
}

#search {
  width: 200px;
}
#addItem {
  width: 150px;
}
ul.listItems {
  background-color: lightblue;
  border: 1.5px solid rgb(76, 146, 187);
  border-radius: 20px;
  padding: 10px;
}

.shownPost, .showMyPost {
  background-color: lightblue;
  width: 450px;
  min-height: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid rgb(76, 146, 187);
  position: relative;
  left: -300px;
}
.commentsDiv{
  position: absolute;
  right: 100px;
  top: 80px;
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  border: 2px solid rgb(76, 146, 187);
  border-radius: 20px;
}